<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

	<!-- 日志切面类 -->
	<bean id="controllerLogAspect" class="com.cs.spring.mvc.aspect.ControllerLogAspect" />
	<!-- 第1步： AOP的配置 -->
	<aop:config>
		<!-- 第2步：配置一个切面 -->
		<aop:aspect ref="controllerLogAspect">
			<!-- 第3步：定义切入点,指定切入点表达式 -->
			<aop:pointcut id="controllerMethod" expression="execution(* com.cs..web.*Controller.*(..))" />
			<!-- 第4步：通知 -->
			<aop:before method="before" pointcut-ref="controllerMethod" />
			<aop:after-returning method="afterReturn" pointcut-ref="controllerMethod" />
			<aop:after method="after" pointcut-ref="controllerMethod" />
			<aop:after-throwing method="afterThrowing" pointcut-ref="controllerMethod" />
		</aop:aspect>
	</aop:config>

	<!-- 启用spring对AspectJ注解的支持 -->
	<aop:aspectj-autoproxy />
</beans>