<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util"
     xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
     xmlns:rabbit="http://www.springframework.org/schema/rabbit" xmlns:p="http://www.springframework.org/schema/p"
     xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
     http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-1.0.xsd">
     
    <!--###################		公共配置		###################### -->
    
    <!-- 连接配置 -->
    <rabbit:connection-factory id="rabbitMQConnectionFactory" host="${mq.host}" username="${mq.username}" password="${mq.password}" port="${mq.port}" />
        
    <rabbit:admin connection-factory="rabbitMQConnectionFactory"/>
    
    <!-- queue 队列声明 -->
    <!-- durable 是否持久化 
        exclusive 仅创建者可以使用的私有队列，断开后自动删除 
        auto-delete 当所有消费端连接断开后，是否自动删除队列 
        name 用于创建队列，很重要，如果消费者的name是一样的，那么消息是分发，如果消费者的name是不一样的，那么消息会复制发送-->
    <rabbit:queue id="direct_queue" name="direct_queue_mvc" durable="true" auto-delete="false" exclusive="false" />
    <rabbit:queue id="topic_queue" name="topic_queue_mvc" durable="true" auto-delete="false" exclusive="false" />
    <rabbit:queue id="fanout_queue" name="fanout_queue_mvc" durable="true" auto-delete="false" exclusive="false" />
    
	<!--###################		生产者		###################### -->
	
    <!-- 交换机定义 -->
    <!-- 交换机：一个交换机可以绑定多个队列，一个队列也可以绑定到多个交换机上。
       	 如果没有队列绑定到交换机上，则发送到该交换机上的信息则会丢失。
     -->
     <rabbit:direct-exchange name="direct_exchange" durable="true" auto-delete="false">
        <rabbit:bindings>
            <rabbit:binding queue="direct_queue" key="direct_queue"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>
    <rabbit:topic-exchange name="topic_exchange" durable="true" auto-delete="false">
        <rabbit:bindings>
            <rabbit:binding queue="topic_queue" pattern="topic_queue"/>
        </rabbit:bindings>
    </rabbit:topic-exchange>
    <rabbit:fanout-exchange name="fanout_exchange" durable="true" auto-delete="false">  
        <rabbit:bindings>  
            <rabbit:binding queue="fanout_queue" /> 
        </rabbit:bindings>  
    </rabbit:fanout-exchange> 
    
    <!-- 消息队列客户端 ，绑定交换机-->
    <rabbit:template id="directTemplate" exchange="direct_exchange" connection-factory="rabbitMQConnectionFactory" />
    <rabbit:template id="topicTemplate" exchange="topic_exchange" connection-factory="rabbitMQConnectionFactory" />
    <rabbit:template id="fanoutTemplate" exchange="fanout_exchange" connection-factory="rabbitMQConnectionFactory" />
	<!--消息队列客户端，不绑定交换机 -->
    <rabbit:template id="rabbitMQTemplate" connection-factory="rabbitMQConnectionFactory" />
    
	<!--###################		消费者		###################### -->
	
    <bean name="rabbitmqService" class="com.cs.spring.mvc.jms.rabbitmq.client.RabbitmqService"></bean>
    
    <!-- 配置监听 消费者 -->
    <rabbit:listener-container connection-factory="rabbitMQConnectionFactory" acknowledge="auto">
        <rabbit:listener queues="direct_queue" ref="rabbitmqService"/>
        <rabbit:listener queues="topic_queue" ref="rabbitmqService"/>
        <rabbit:listener queues="fanout_queue" ref="rabbitmqService"/>
    </rabbit:listener-container>
</beans>